---

---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href=`${import.meta.env.ICONS_FOLDER}/logo.svg`
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link
      rel="stylesheet"
      href=`${import.meta.env.ROOT_FOLDER}/src/styles/output.css`
      is:inline
    />
    <title>{Astro.props.title} | Activ Workshop</title>
  </head>
  <body>
    <slot />

    <script src=`${import.meta.env.ROOT_FOLDER}/src/scripts/copy-bank-number.js` is:inline></script>
    <script src=`${import.meta.env.ROOT_FOLDER}/src/scripts/read-more-description.js` is:inline></script>
    <script src=`${import.meta.env.ROOT_FOLDER}/src/scripts/testimonial-slider.js` is:inline></script>
    <script src=`${import.meta.env.ROOT_FOLDER}/src/scripts/navbar.js` is:inline></script>
    <script src=`${import.meta.env.ROOT_FOLDER}/src/scripts/upload-file.js` is:inline></script>
    <script src=`${import.meta.env.ROOT_FOLDER}/src/scripts/fix-href.js` is:inline></script>
    <!-- <script src="/src/scripts/copy-bank-number.js"></script>
    <script src="/src/scripts/read-more-description.js"></script>
    <script src="/src/scripts/testimonial-slider.js"></script>
    <script src="/src/scripts/navbar.js"></script>
    <script src="/src/scripts/upload-file.js"></script> -->
  </body>
</html>
